<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('hello_world') }}" method="post">
        RN:
        <select name="rn">
            <option>RN2</option>
            <option>RN3</option>
            <option>RN4</option>
        </select>
        <br>
        Longitude:<input name="longitude" type="text"><br>
        Latitude:<input name="latitude" type="text"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>